@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Data.Question>

<script type="text/javascript">

</script>

<h4 style="margin-top:100px">Recent activity</h4>
@foreach (var q in Model)
{
    <p>
        <a href="/questions/show?id=@q.Id">"@q.Title"</a> -
        @q.User.DisplayName
    </p>
}

