@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Data.Content>

<script type="text/javascript">
    $(document).ready(function () {
        $('.item').fadeIn(400);
    });
</script>

<div id="activity-panel">
    <h4 style="margin-top:20px">Activity feed</h4>

    @foreach (var c in Model)
    {
        <p class="item" style="display:none">
            <a href="/questions/show?id=@c.Id">"@c.Title"</a> -
            @c.User.DisplayName
        </p>
        <br />
    }
</div>