@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Data.Answer

this is an answer

<form asp-action="Add">
    <div class="form-group">
        <textarea asp-for="@Model.Body"></textarea>

        <button type="submit">Add</button>
    </div>
</form>