@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Website.Models.ContentViewModels.ContentViewModel>

@{
    Layout = null;
    foreach (var c in @Model)
    {
        <p>@c.Title</p>
    }
}
