@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Data.Question

<script src="~/lib/toopay-bootstrap-markdown-604a3be/js/bootstrap-markdown.js"></script>
<script src="http://www.codingdrama.com/bootstrap-markdown/js/markdown.js"></script>
<link rel="stylesheet" href="~/lib/toopay-bootstrap-markdown-604a3be/css/bootstrap-markdown.min.css" />

<br />
<form method="post">
    @Html.HiddenFor(i => i.Id)
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter a title for your question" asp-for="@Model.Title">
        </div>
    <div class="form-group">
        <label for="body">Question</label>
        <textarea data-provide="markdown" id="body" class="form-control" style="max-width:initial" rows="20" asp-for="@Model.Body"></textarea>
    </div>

    <button type="submit" class="btn">
    @if (Model.Id == -1)
    {
        <span>Post Question</span>
    }
    else
    {
        <span>Save Edit</span>
    }
    </button>
</form>